<div class="cajaCentral">

  <div class="cajita">
    <div class="formulario">
        <img src="./assets/img/logo.png" alt="" class="logotype">
          <input type="email" placeholder="correo Electronico" [(ngModel)]="usuario" class="example-full-width">
          <input type="password" placeholder="Contraseña" [(ngModel)]="cl" class="example-full-width">
    </div>
    <div class="botones">
        <button mat-raised-button color="warn" (click)="comprobar()">Entrar</button>
        <button mat-button>Registrate!!</button>
    </div>
  </div>



</div>
