<div class="caja">
  <div class="cajalogin">
    <div class="txt">
      <h3>Correo Electronico</h3>
      <input type="email" class="txtcorreo" [(ngModel)]="usuario">
      <h3>Contraseña</h3>
      <input type="password" class="txtclave" [(ngModel)]="cl">
    </div>
    <div class="bttn">
      <p>
        <button type="button" class="btn btn-success btn-lg" (click)="login()">INGRESAR</button>
        <button type="button" class="btn btn-link btn-lg">REGISTRATE</button>
      </p>
    </div>

  </div>
</div>
