<div class="row">
  <div class="col-xs-6 arribita">
    <h2><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp; &nbsp; Factura de proveedores</h2>
  </div>
  <div class="col-xs-2 arribita">
    <button class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> EXPORTAR
    </button>
  </div>

  <div class="col-xs-4 arribita">
      <button class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> NUEVA FACTURA DE PROVEEDOR
      </button>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <table class="tablas table table-bordered table-responsive">
          <thead>
            <tr class="info">
                <th></th>
                <th>Factura</th>
                <th>Proveedor</th>
                <th>Creacion</th>
                <th>Vencimiento</th>
                <th>total</th>
                <th>Pagado</th>
                <th>Por pagar</th>
                <th>Acciones</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>00012</td>
              <td>Eliu Ortega</td>
              <td>20/04/2018</td>
              <td>20/12/2018</td>
              <td>200.00</td>
              <td>100.00</td>
              <td>100.00</td>
              <td >
                <a href="#" class="iconitosA">
                    <span class="glyphicon glyphicon-remove primary" aria-hidden="true"></span>
                </a>
                &nbsp; &nbsp;
                <a href="#"class="iconitosB">
                    <span class="glyphicon glyphicon-pencil danger" aria-hidden="true"></span>
                </a>
            </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
