<div class="cajon">
  <div class="menu">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        INGRESOS &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="facturaV">Factura de venta</a></li>
        <li><a href="#">Pagos Recibidos</a></li>
        <li><a href="#">Cotizaciones</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        GASTOS &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CONTACTOS &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        INVENTARIO &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        BANCOS &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        INGRESOS &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>



    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{name}} &nbsp; &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Perfil</a></li>
        <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>
  <div class="cajaVistas">
    <div class="lateral"></div>
    <div class="centro">
      <router-outlet></router-outlet>
    </div>
  </div>



</div>




<!--
<div class="btn-group" role="group">
  <button type="button" class="btn btn-link dropdown-toggle botDRO" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{name}} &nbsp; &nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Perfil</a></li>
    <li><a href="#" (click)="logout()">Cerrar Sesion</a></li>
  </ul>
</div>



-->
