.cajon{
  height: 100vh;
  width: 100vw;
  border: 10px solid #285887;
  box-sizing: border-box;
  border-radius: 5px 5px 2px 2px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.menu{
  height: 5%;
  width: 100%;
  background: #285887;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;

  color:#000;

}

.cajaVistas{
  height: 95%;
  width: 100vw;

  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  color:#000;
}




.lateral{
  height: 100%;
  width: 20%;
  background: #285887;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.centro{
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
